@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>AGL Challenge</h2>
        <ul>
            <li>You can navigate to the cats controller by using the menu on top</li>
            <li>Happy mewing!</li>
        </ul>
    </div>  
</div>
